ENVIRONMENT=development


# JWT
SECRET_KEY=tu-clave-secreta-muy-segura-y-larga-aqui-cambiar-en-produccion
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# FastAPI
API_V1_STR=/api/v1
PROJECT_NAME=SistemIoTDevicesMicroservice
ALLOWED_ORIGINS="http://localhost:5173"

# ==================== MQTT BROKER ====================
MQTT_BROKER_HOST=broker_mosquitto
MQTT_BROKER_PORT=1883

# ==================== MQTT SIMULATOR ====================
SIMULATOR_PORT=8000

# ==================== IOT DEVICES MICROSERVICE ====================
IOT_DEVICES_PORT=8001

# ==================== IOT DEVICES DATABASE (POSTGRES) ====================
IOT_DEVICES_POSTGRES_USER=iot_user
IOT_DEVICES_POSTGRES_PASSWORD=iot_password
IOT_DEVICES_POSTGRES_DB=iot_devices_db
IOT_DEVICES_POSTGRES_HOST=iot_devices_postgres
IOT_DEVICES_POSTGRES_PORT=5432
IOT_DEVICES_DATABASE_URL=postgresql://iot_user:iot_password@iot_devices_postgres:5432/iot_devices_db

# ==================== MINES MICROSERVICE ====================
MINES_PORT=8082

# ==================== MINES DATABASE (POSTGRES) ====================
MINES_POSTGRES_USER=mines_user
MINES_POSTGRES_PASSWORD=mines_password
MINES_POSTGRES_DB=mines_db
MINES_POSTGRES_HOST=mines_postgres
MINES_POSTGRES_PORT=5432

# ==================== MINES DATABASE (MONGODB) ====================
MONGO_USERNAME=admin
MONGO_PASSWORD=admin_password
MONGO_DATABASE=mines_mongodb
MONGO_HOST=mines_mongo
MONGO_PORT=27017
MONGO_URI=mongodb://admin:admin_password@mines_mongo:27017/mines_mongodb?authSource=admin